lazy-lock.json
.luarc.json
.neoconf.json
lazyvim.json
debug/
.aitool
.colorscheme
.hardtime
.leader
.useimage
.wakatime
.ignore-deps
profile.json
rocks.toml
extras/
		  		  /home/rootiest/.cache/nvim
